.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify_between{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}
.btn-primary{
    background: var(--primary);
    color: var(--dark);
    transition: 0.5s ease;
}
.btn a{
    text-decoration: none;
    color: var(--light);
}
.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.btn-sec{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.btn-sec:hover{
    background: var(--primary);
    color: var(--dark);
    transition: 0.5s ease;
}
.flex-1{
    flex: 1;
}
.justify_center{
    justify-content: center;
}
@media (max-width:1024px){
    header .nav-items{
        margin-left: 10rem;
    }
    header .right button{
        margin-right: 5rem;
    }
    header nav .left{
        margin-left: -1rem;
    }
    .btn{
        padding: 0.4rem 1.5rem;
        font-size: 0.7rem;
    }
    header nav .left .branding{
        margin-right: 0.5rem;
        width: -75%;
        height: -75%;
    }
    header nav .left .nav-items a{
        margin-right: 1rem;
        font-size: 15px;
    }
    header .right .btn{
        justify-content: center;
    }
    .hero .left img{
        width: 260px;
    }
    .hero .right h1{
        font-size: 3rem;
    }
    section.about .container .left img{
            /* width: 300px; */
    height: 289px;
    margin-left: 2.5rem;
    }
    section.about{
        padding: 2rem 0;
    }
     section.services .container .card-wrapper{
    grid-template-columns: repeat(2, 1fr);
     }
     
    section.services .container .card-wrapper .card{
        padding: 4rem 1rem;
    }
    section.freelencer button{
        font-size: 0.6rem;
    }
    section.freelencer h1{
        font-size: 1.5rem;
    }
    header .nav-items {
        margin-left: 1rem;
    }
    section.blog .card-wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        /* justify-content: center; */
    }
}

.nav{
    padding: 1.6rem 0;
}
.nav.fix-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #21a307;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 999;
}
.nav.fix-nav .nav-link,
.nav.fix-nav .logo,
.nav.fix-nav .cart-icons,
.nav.fix-nav .hamburger{
    color: #fff;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.logo h1{
    font-size: 2.5rem;
}
.top-nav{
    display: none;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-item:not(:last-child){
    margin-right: 0.5rem;

}
.nav-link:link,.nav-link:visited{
    padding: .8rem 1rem;
    transition: all 300ms ease-in-out;
    color: var(--pure);
    font-weight: bold;
}
.nav-link:hover{
    color: var(--primary);
}
.nav-link.icon{
    font-size: 3rem;
}
.hamburger{
    display: none;
}
.cart-icons{
    display: none;
}
@media only screen and (max-width: 600px){
    .menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        max-width: 40rem;
        height: 100%;
        background-color: #fff;
        transition: all 500ms ease-in-out;
        z-index: 100;
    }
    .menu.show{
        left: 0;
    }
    .top-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #21a307;
        padding: 1rem 1.6rem;
    }
    .top-nav .logo{
        color: #fff;
    }
    .top-nav .close{
        color: #fff;
        font-size: 3rem;
        padding: 1rem;
        cursor: pointer;
    }
    .cart-icons{
        display: block;
        font-size: 3rem;

    }
    .hamburger{
        display: block;
        font-size: 3rem;
        padding: 0.5rem;
        cursor: pointer;
    }
    .nav-list{
        flex-direction: column;
        align-items: start;
        padding: 1rem 1.6rem;
    }
    .nav-link:link
    ,.nav-link:visited{
        display: block;
        font-size: 1.7rem;
        padding: 1rem 0;
    }
    .nav.fix-nav .nav-link{
        color: #21a307;
    }

    .nav-link .icon{
        display: none;
    }

    body.show::before{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        z-index: 4;
    }
    .nav.show{
        background-color: rgba(0,0,0,0.6);
    }
}
.hamburger{
    cursor: pointer;
}
@media(max-width:1024px)
{
    #main-nav{
        display: none;
    }
}